* {
	font-family: monospace;
	letter-spacing: 1px;
}

body {
	margin: 0;
}

.dark-mode {
	background: #111;
	color: #f9f9f9;
}

/* start: layout */
header {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.container {
	max-width: 960px;
	margin-right: auto;
	margin-left: auto;
	padding-right: 15px;
	padding-left: 15px;
	min-height: 100vh;
	padding: 0.4rem 0 2rem 0;
}

.notes-list {
	display: grid;
	grid-gap: 0.8rem;
	grid-template-columns: repeat(
		auto-fill,
		minmax(250px, 1fr)
	);
}
/* end: layout */


/* .note.new {
	background-color: ;
}

.dark-mode .note.new {
	background-color: #444;
} */

/* start: textarea */
textarea {
	resize: none;
	padding: 0.2rem 0.6rem 0;
	background: #eee;
	border: 4px dotted gray;
}

textarea:focus {
	outline: none;
	border: 4px solid gray;
}

.dark-mode textarea {
	color: #f9f9f9;
	background: #222;
}
/* end: textarea */

/* start: add button */
.add {
	padding: 2px 4px;
	background: green;
	color: #f9f9f9;
	border-top: 4px solid #333;
	border-left: 4px solid #333;
	position:absolute;
    bottom: 0;
    right: 0;
}

.add:hover {
	cursor: pointer;
	text-decoration: underline;
	text-decoration-style: wavy;
}

.add:active {
	border: none;
	outline: 4px solid green;
	text-decoration: underline;
	text-decoration-style: solid;
}
/* end: add button */

/* start: delete button */
.delete {
	padding: 2px 4px;
	background: red;
	color: #f9f9f9;
	border-top: 4px solid #333;
	border-left: 4px solid #333;
	position: absolute;
    bottom: 0;
    right: 0;
}

.delete:hover {
	cursor: pointer;
	text-decoration: underline;
	text-decoration-style: wavy;
}

.delete:active {
	border: none;
	outline: 4px solid red;
	text-decoration: line-through;
	text-decoration-style: solid;
}
/* end: delete button */

/* start: characters info */
.characters {
	padding: 2px 4px;
	background: yellow;
	color: #333;
	border-top: 4px solid #333;
	border-right: 4px solid #333;
	position: absolute;
    bottom: 0;
    left: 0;
}
/* end: character info */

/* start: date info */
.date {
	padding: 2px 4px;
	background: gray;
	color: #f9f9f9;
	border-top: 4px solid #333;
	border-right: 4px solid #333;
	position: absolute;
    bottom: 0;
    left: 0;
}
/* end: date info */

/* start: dark/light button */
button {
	background: #fff;
	border: 4px solid #333;
	cursor: pointer;
	padding: 0.6em;
}

.dark-mode button {
	background: #111;
	color: #f9f9f9;
}

button:hover {
	text-decoration: underline;
	text-decoration-style: wavy;
}

button:active {
	color: #f9f9f9;
	background: #111;
}

.dark-mode button:active {
	color: #111;
	background: #f9f9f9;
}

/* end: dark/light button */

/* start: note component */
.note {
	position: relative;
	padding: 0.6em;
	line-height: 1.2;
	min-height: 170px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	white-space: pre-wrap;
	border: 4px solid #333;
}

.dark-mode .note {
	background: #111;
	color: #f9f9f9;
}

.note-footer {
	display: flex;
	justify-content: space-between;
}
/* end: note component */

/* start: input field */
form {
	margin-bottom: 0.8rem;
}

input {
	width: 100%;
	padding: 0.6em;
	border: 4px solid #333;
}

.dark-mode input {
	background: #111;
	color: #eee;
}
/* end: input field */